PRUEBA/.vs/ProjectEvaluation/prueba.metadata.v9.bin
PRUEBA/.vs/ProjectEvaluation/prueba.projects.v9.bin
PRUEBA/.vs/ProjectEvaluation/prueba.strings.v9.bin
PRUEBA/.vs/PRUEBA/FileContentIndex/c0fd2528-9434-416c-8b0c-2283bc5d8739.vsidx
PRUEBA/.vs/PRUEBA/v17/.futdcache.v2
PRUEBA/PRUEBA/obj/Debug/net8.0-windows/PRUEBA.sourcelink.json
